# Virtual Environment
venv/
__pycache__/
Media/
settings.py

# Django/Migrations
*.pyc
*.pyo
*.log

# Database (SQLite, jika ada)
db.sqlite3

# PostgreSQL (Opsional, jika pakai lokal dump)
*.psql
*.pgdump

# IDE/Editor Files
.vscode/
.idea/

 
 